body {
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    color: rgb(0, 253, 253);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#logo-name {

    font-size: 32px;
    font-weight: bold;
    margin: 15px;
    text-align: center;
}

#navigation {
    text-align: center;
}

#navigation a {
    color: blue;
    padding: 8px;
}

#navigation a:hover {
    color:rgb(0, 0, 0)
}

#image {
    text-align: center;
}

#image {
    width: 100%;
    margin-top: 45px;
}

#main {
    max-width: 200px;
    text-align: center;
    margin: auto
}
#footer {
    text-align: center;
    color: gray;
    padding: 16px;
}